@font-face {
  font-family: "Avenir";
  src: url(fonts/AvenirNextLTPro-Regular.otf);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}

body {
  font-family: "Avenir";
}


.container {
  width: 100%;
  background: white;
}

/*HEADER*/
.header {
  width: 100vw;
  height: 130px;
  background: #9B9B8C;
}

  .header h1 {
    color: white;
    font-size: 2em;
    font-weight: 300;
    letter-spacing: 2px;
    padding: 5.5% 0 0 5%;
  }


/*CONTENT*/
.body {
  width: 100%;
  height: 760px;
  background: white;
  position: relative;
}

  .body .slider {
    width: 100%;
    margin: 10px auto;
  }

  .body .slider .content {
    margin: 0 auto;
    padding: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: auto;
  }

    .body .slider .content > div {
      width: 100px;
      height: 100px;
      background: #e2e2e2;
      margin: 20px 40px;
      display: inline-block;
    }

    .body .slider .content > div:hover {
      cursor: pointer;
    }

  .body .bin-container {
    width: 80%;
    height: 300px;
    margin: 0 auto;
    margin-top: 3%;
    display: flex;
  }

    .body .bin-container .box {
      height: 100%;
      padding: 30px;
      width: 30%;
    }

    .body .bin-container .box .current-album-image {
      background: white;
      height: 100px;
      width: 100px;
      margin: 20px 0;
    }

    .body .bin-container .album-tracks {
      background: #EEEEEE;
      height: 100%;
      overflow-y: scroll;
      padding: 30px;
      border: 3px solid #353526;
      width: 30%
    }

    .body .bin-container .arrow {
      background: white;
      height: 100%;
      width: 9%
    }

    .body .bin-container .playlist-tracks {
      background: #EEEEEE;
      height: 100%;
      overflow-y: scroll;
      padding: 30px;
      border: 3px solid #353526;
      width: 30%
    }

      .body .bin-container h6 {
        margin-bottom: 10px;
      }


    .body .button-container {
      height: 100%;
      padding-top: 3%;
      width: 80%;
      margin: auto;
    }

      .body .button-container button {
        font-family: "Avenir";
        margin: 10px auto;
        font-size: 1.5em;
        letter-spacing: 1px;
        background: #353526;
        padding: 12px 43px;
        color: white;
        border-radius: 10px;
        transition: 0.3s ease all;
        margin-right: 25px;
      }

      .body .button-container button:hover {
        background: rgba(54, 54, 38, 0.82);
        cursor: pointer;
      }




/*FOOTER*/
.footer {
  width: 100vw;
  height: 50px;
  background: #686859;
}

  .footer h6 {
    color: white;
    padding: 1% 5% 0 5%;
    font-weight: 100;
    font-size: 1.2em;
  }
